include ./pug/Helpers/Variables
include ./pug/components/Buttons
include ./pug/components/TopBanar
include ./pug/components/text_img
include ./pug/components/img_text

include ./pug/Data/Articles
doctype
html
    head
        include ./pug/Helpers/HeadCalls
        title #{ThemeName} | Articles Page
    body
        // Navbar
        include ./pug/components/Navbar
        // Navbar
        +TopBanar(ThemeName, 'articles')
        +TextImgSection('follow our articles', './images/Images Section/articles.jpg', 'light')

        section(class='articles' data-bg='dark')
            .container
                .row
                    .col-12.col-md-4.xl-hidden.lg-hidden.md-hidden
                        include ./pug/components/Aside
                    .col-12.col-md-8
                        .row
                            - for(var article = 0; article < Articles.length; article++)
                                .col-6.col-lg-12
                                    .card.article.shadow-effect
                                        .card-header #[i.fa.fa-clock] #{Articles[article].time} ago
                                        
                                        .card-body
                                            .media
                                                .col-lg-4.xs-hidden.sm-hidden.md-hidden
                                                    img(src="./images/Images Section/news.jpg" class="mr-3" class='')
                                                .col-lg-8.col-12
                                                    .media-body
                                                        h5.card-title= Articles[article].title
                                                        p.card-text.xs-hidden.sm-hidden.md-hidden #{Articles[article].disc}  
                                                        a.read-more(href='./singlearticle.html') read more #[i.fa.fa-chevron-right]
                                        .card-footer #[span #[i.fa.fa-eye] #{Articles[article].views}]




                                        
                        nav(aria-label="Page navigation example")
                            ul.pagination.justify-content-center
                                li.page-item: a(href='#prev').page-link Previous
                                li.page-item: a(href='#1').page-link 1
                                li.page-item: a(href='#2').page-link 2
                                li.page-item: a(href='#3').page-link 3
                                li.page-item: a(href='#4').page-link 4
                                li.page-item: a(href='#5').page-link 5
                                li.page-item: a(href='#next').page-link next
                                
                        
                    .col-12.col-md-4.xs-hidden.sm-hidden
                        include ./pug/components/Aside
                    
                        
        section.text-img-section.subscribe
            .container
                .row
                    .col-lg-6
                        .img 
                            img(src='./images/Images Section/subscribe.jpg')
                    .col-lg-6
                        .info
                            h3.section-title.h2 awesome trainres
                            p.card-textWith.lead Lorem Ipsum is simply dummy text of the printing
                            form.form-inline

                                .input-group.mb-2.mr-sm-2
                                    .input-group-prepend
                                        .input-group-text @
                                    input(type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="E-Mail")

                                
                                button(type="submit" class="btn btn-danger mb-2") subscribe

        include ./pug/components/Footer
        include ./pug/Helpers/FooterCalls