include ./pug/Helpers/Variables
include ./pug/components/Buttons
include ./pug/components/TopBanar
include ./pug/components/text_img

include ./pug/Data/Features
include ./pug/Data/WhyUs
include ./pug/Data/PlanePrices
include ./pug/Data/Clients
include ./pug/Data/Statistics

doctype
html
    head
        include ./pug/Helpers/HeadCalls
        title #{ThemeName}
    body
        
        // Navbar
        include ./pug/components/Navbar
        // Navbar
        
        // Top Banar
        +TopBanar(ThemeName, null)
        // Top Banar
            
        // About Us Section
        +TextImgSection('about us', './images/Images Section/gym.jpg', 'dark')
        // About Us Section


        // Features Section
        section(class='features-section ' data-bg='light')
            .container
                h3.section-title our features
                .row
                    - for(var feature = 0; feature < Features.length; feature++)
                        .col-md-4
                                div.card.shadow-effect
                                    img(src=Features[feature].img ,  class="card-img-top" alt="...")
                                    div.card-body
                                        h5.card-title= Features[feature].title
                                        p.card-text= Features[feature].disc
        // Features Section



        // Why We Section
        section(class='why-we-section' data-bg='dark')
            .container
                h3.section-title.lg-hidden.md-hidden.xl-hidden why us ?
                .row
                    .col-lg-6
                        .why-us-cards
                            .row
                                - for(var why = 0; why < whyUsPointes.length; why++)
                                    .col-6
                                        .card.shadow-effect
                                            i(class=whyUsPointes[why].icon)
                                            .card-body
                                                h5.card-title= whyUsPointes[why].title
                                
                    .col-lg-6
                        .info
                            h3.section-title.xs-hidden.sm-hidden why us ? 
                            p.card-text.lead Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typeseting industry.
                    
        // Why We Section


        // Planes Prices Section
        section.planes-prices
            .container
                h3.section-title prices #[i.fa.fa-right]
                .row
                    - var plane
                    - for (plane = 0; plane < PlanPrice.length; plane++)
                        .col-lg-3.col-md-6
                            .card.shadow-effect
                                .card-body
                                    h5.card-title= PlanPrice[plane].level
                                    ul.reset-ul
                                        - for (var planeItem = 0; planeItem < PlanPrice[plane].items.length; planeItem++)
                                            li #[i.fa.fa-star]  #{PlanPrice[plane].items[planeItem]}
                                    h6.card-subtitle #{PlanPrice[plane].price}$ / monthly
        // Planes Prices Section
                                    
        

        
        // statistics Section
        section.statistics
            .container
                h3.section-title statistics
                .row
                    - for(var fact = 0; fact < Statistic.length; fact++)
                        .col-6.col-lg-3
                            .card.shadow-effect
                                i(class=Statistic[fact].icon)
                                .card-body
                                    h5(class='card-title')= Statistic[fact].title
                                    h6= Statistic[fact].number
        // statistics Section
        // Testemonials Section
        section.testimonials
            .container
                h3.section-title testimonials
                div(id="carouselExampleIndicators" class="  carousel slide" data-ride="carousel")
                        ol.carousel-indicators
                            - for (var client = 0; client < Testemonials.length; client++)
                                li(class= client === 0 ? "active" : "" data-target="#carouselExampleIndicators" data-slide-to=client)
                                    img(src=Testemonials[client].ClientIcon)


                        div.carousel-inner
                            - for (var client = 0; client < Testemonials.length; client++)
                                div(class= client === 0 ? " carousel-item active" : "carousel-item")
                                    h5= Testemonials[client].ClientName
                                    p= Testemonials[client].ClientSay
                            
                        a(class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev")
                            i.fa.fa-chevron-left
                        a(class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next")
                            i.fa.fa-chevron-right
        // Testemonials Section
        
        include ./pug/components/Footer
        include ./pug/Helpers/FooterCalls